@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: whitesmoke;
    --secondary-color: #39FF14;
    --body-font: 'ABC Diatype', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(1.1rem,3vw,1.125rem);
    --heading-font: 'ABC Diatype Medium', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/point.svg') 5 -5, auto;
}    

html a:hover {
    cursor: url('/assets/graphics/hover.svg') 5 -5, auto;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    padding: clamp(1rem, 3vw, 1.5rem);
    background: #0E000E url('/assets/graphics/background.webp') no-repeat 15% center/cover;
    background-attachment: fixed;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1; /*Behind main*/
    padding: clamp(1rem, 3vw, 1.5rem);
    font-size: var(--body-font-size);
}

.copyright {
    transform: rotate(90deg) translate(0%, 100%);
    transform-origin: bottom right;
    margin-bottom: .25rem; /*Aligns content*/
}

p {   
    max-width: 38rem;
    font-size: var(--body-font-size);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover, svg:hover {
    text-shadow: 0 0 10px yellow, 0 0 15px yellow, 0 0 20px yellow;
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(2rem,5vw,3rem);
    margin-bottom: 1rem;
}

/*Auxillary pages*/

#aux-pages {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aux-pages h1.blink, #error p {
    font-size: var(--body-font-size);
    margin: 0;
}

#aux-pages h1 span {
    color: var(--secondary-color);
}

#aux-pages h1:not(.blink) {
    margin: 1rem 0 2rem;
}

/*SVGs*/

svg.arrow-upper-right-light {
    width: auto;
    height: clamp(.75rem,1.75vw,.813rem);
    margin: 0 0 0 .25rem;
}

/*Special classes*/

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

.glow {
    filter: none;
    transition: filter 0.3s ease;
}
  /* Hover state - apply the glow filter */
.glow:hover {
    filter: url(#glow);
}

@media only screen and (max-width: 768px) {

    footer {
        flex-direction: column;
        position: relative;
        padding: unset;
    }

    .copyright {
        margin-top: 1rem;
        margin-bottom: unset;
        transform: unset;
        transform-origin: unset;
    }
}